---
layout: default
---

<div class="home">

<div class="hero"></div>

  <h1 class="page-heading">Featured Work</h1>

  <ul class="project-list">
    {% for project in site.projects %}
      <li class="project-list__project">
        <span class="project-list__project__client">{{ project.client }}</span>

        <h2>
          <a class="project-list__project__title" href="{{ project.url | prepend: site.baseurl }}">{{ project.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>


<!--   <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

</div>
