---
layout: page
title: 'Work'
head-title: 'Morten Christoffersen - UX & Product Designer'
navigation_weight: 1
bodyclass: 'front'
---

<div class="front__intro">
  <span>Introduction —</span>
  <h1 class="front__intro__heading">
    Morten Christoffersen is a multi-disciplinary designer, working in the intersection of UX, product strategy and interaction design.
  </h1>
  <div class="front__intro__bio">
    <p>Currently — UX & Product Design Lead at DR, the largest public service media company in Denmark.</p>
    <p>Previously — Creative Director at FFW Agency in San Francisco. Over the years he has worked with clients such as Stanford University, GE, Pfizer, the YMCA, the Golden Gate Bridge and USC Marshall. <a href="/about/">More.</a></p>
  </div>
</div>

<div class="front__work">
  <span>Work —</span>
  <ul class="project-list">
    {% assign ordered_projects = site.projects | sort: "order" %}
    {% for project in ordered_projects %}
      <li>
        <a class="project-card {% if project.list-type %} project-list__project--{{ project.list-type }} {% endif %}" href="{{ project.url | prepend: site.baseurl }}">
          <div class="project-card__img">
            <img src="{{ project.thumb }}" alt="Image thumbnail for {{ project.client }} project.">
          </div>
          <div class="project-card__info">
            <h3 class="project-card__info__client">{{ project.client }}</h3>
            <p class="project-card__info__desc">{{ project.desc-short }}</p>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
  <div class="more-coming-soon">
    <p>More projects coming soon. Stay tuned! <br> (Or you know, <a href="/about/#contact">get in touch</a>)</p>
  </div>
</div>
