---
layout: default
title: 'Work'
navigation_weight: 1
bodyclass: 'front'
---

{% include sidebar.html %}

<div class="front__container">

  <div class="front__content">
    <!-- {% include visual-grid.html lines="1,7,13" %} -->
    <h1 class="front__intro"><span>Morten Christoffersen is a multi-disciplinary designer</span> working in the intersection of UX strategy, UI design and front-end development.</h1>

    <div class="front__work">
      <!-- <h2>Featured Work</h2> -->
      <ul class="project-list">
        {% assign ordered_projects = site.projects | sort: "order" %}
        {% for project in ordered_projects %}
          <li class="project-list__project">
            <a href="{{ project.url | prepend: site.baseurl }}">
              <div class="project-list__project__img" style="background-color:{{ project.color }}";>
                <img src="{{ project.hero }}" alt="Image for the {{ project.client }} project" />
              </div>
              <div class="project-list__project__info">
                <span class="project-list__project__client">{{ project.client }}</span>
                <h3 class="project-list__project__title">{{ project.title }}</h3>
                <!-- <p class="project-list__project__desc">{{ project.desc }}</p> -->
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div> <!-- End .front__content -->
</div> <!-- End .front__container -->
