<footer class="footer">
  <p class="footer__legal">Handcrafted with love — All rights reserved © Morten Christoffersen {{ site.time | date: '%Y' }}.</p>
  <ul class="social-links">
    <li><a href="https://www.linkedin.com/in/mortenchristoffersen" rel="LinkedIn">LinkedIn</li>
    <li><a href="https://dribbble.com/morten" rel="Dribbble">Dribbble</li>
    <li><a href="https://medium.com/@mortenc" rel="Medium">Medium</li>
    <li><a href="https://medium.com/@mortenc" rel="Medium">Github</li>
      <li><a href="mailto:contact@mortenchristoffersen.com" rel="Email">Email</li>
  </ul>

</footer>

<script src="{{ "/assets/js/scripts.js" | prepend: site.baseurl }}" type="text/javascript"></script>
