/**
 * About page
 */
.about {

  .page__content {
    h2 {
      @include span-columns(2);
      @include small-label;
      color: $white-transparent;
    }
  }

  &__intro {
    padding-top: $base-line-height*3;

    &__img {
      @include span-columns(12);
      @include omega();
      position: relative;

      @include media($medium) {
        @include span-columns(2);
        @include shift(1)
      }

      img {
        display: block;
      }

      &::before {
        display: inline-block;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateY(-65%);
        z-index: 100;
        content:" ";
        width: 1px;
        height: $base-line-height*4;
        background: linear-gradient(to bottom, transparent 0%, white 100%);
        z-index: 200;

        @include media($medium) {
          height: $base-line-height*6;
        }
      }
    }

    &__blurb {
      @include span-columns(6);
      @include omega();
      padding-left: $base-line-height*2;

      span {
        @include small-label;
        color: $white-transparent;
      }

      h1 {
        font-family: $base-font-family;
        font-size: ms(7);
        font-weight: 200;
        color: white;
        margin-top: $base-line-height;
      }

      p {
        margin-top: $base-line-height*1.5;
        font-size: rem(15px);
        font-family: $mono-font-family;
        color: $white-transparent;
      }
    }
  }

  &__desc,
  &__writing,
  &__clients {
    //padding-top: $base-line-height*2;
  }

  &__details {
    @include row();
    margin-top: $base-line-height*3;
    color: $white-transparent;

    @include media($medium) {
      @include span-columns(12);
      @include omega();
      column-count: 2;
      column-gap: $base-line-height*2;
    }

    @include media($large) {
      @include span-columns(9);
      @include shift(2);
    }

    p {
      margin-top: $base-line-height;

      @include media($large) {
        margin-top: 0;
      }
    }
  }


  &__writing {
    @include outer-container;
    clear: both;

    .writing-list {
      @include span-columns(10);
      @include omega();

      li {
        margin-bottom: $base-line-height;
        color: $white-transparent;
        h3 {
          a {
            color: white;
            border: none;
          }
        }
        span {
          display: block;
          font-size: ms(-3);
        }
      }
    }
  }

  &__clients {
    @include span-columns(8);
    @include shift(2);
    clear: both;
    padding-top: $base-line-height*4;
    margin-bottom: $base-line-height*6;

    ul {
      @include span-columns(6 of 8);
      @include omega();
      color: white;
      font-family: $mono-font-family;
      column-count: 2;
      column-gap: $base-line-height*3;

      span {
        color: white;
      }
    }
  }
}

.logowall {
  @include span-columns(8);
  @include omega();

  li {
    width: 25%;
    padding: 1rem;
    margin-top: -3rem;
    float: left;
  }
}
