/**
 * About page
 */
.about {

  .page__content {
    h2 {
      @include span-columns(2);
      @include small-label;
      color: $white-transparent;
    }
  }

  &__img {
    @include span-columns(12);
    @include omega();

    @include media($medium) {
      @include span-columns(8);
      @include shift(2)
    }
  }
  &__desc,
  &__writing,
  &__clients {
    //padding-top: $base-line-height*2;
  }

  &__desc {
    @include span-columns(12);
    @include omega();
    padding-top: $base-line-height*2;

    &__lead {
      font-size: ms(1);
      color: white;

      span {
        font-weight: 600;
        color: white;
      }

      @include media($medium) {
        @include span-columns(10);
        font-size: ms(2);
        line-height: $base-line-height * 1.25;
      }

      @include media($large) {
        @include span-columns(8);
      }

      @include media($xlarge) {
        @include span-columns(6);
      }
    }

    &__details {
      @include row();
      margin-top: $base-line-height;
      color: $white-transparent;

      @include media($medium) {
        @include span-columns(12);
        @include omega();
        column-count: 2;
        column-gap: $base-line-height*2;
      }

      @include media($large) {
        @include span-columns(8);
        @include shift(2);
      }

      p {
        margin-top: $base-line-height;

        @include media($large) {
          margin-top: 0;
        }
      }
    }
  }


  &__writing {
    @include outer-container;
    clear: both;

    .writing-list {
      @include span-columns(10);
      @include omega();

      li {
        margin-bottom: $base-line-height;
        color: $white-transparent;
        h3 {
          a {
            color: white;
            border: none;
          }
        }
        span {
          display: block;
          font-size: ms(-3);
        }
      }
    }
  }

  &__clients {
    @include outer-container;
    clear: both;
    padding-top: $base-line-height*4;
    margin-bottom: $base-line-height*6;

    p {
      @include span-columns(8);
      @include shift(2);
      @include omega();
      color: $white-transparent;
      span {
        color: white;
      }
    }
  }
}

.logowall {
  @include span-columns(8);
  @include omega();

  li {
    width: 25%;
    padding: 1rem;
    margin-top: -3rem;
    float: left;
  }
}
