/**
 * Basic styling
 */
 * {
    text-rendering: optimizelegibility;
 }

html {
  font-size: $base-font-size;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  overflow-x: hidden;
  background-color: $blue-grey-dark;

  @include media($xxlarge) {
    font-size: 20px;
  }
}

body {
  font: $base-font-weight 1rem/#{$base-line-height} $base-font-family;
  color: $text-color;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: $blue-grey-darker;
  //background: radial-gradient(ellipse at right top, rgba(255,255,255,.01) 0%, $blue-grey-darker 100%);
}

@mixin container {
  @include outer-container;
  // width: calc(100% - #{$base-line-height});
  //
  // @include media($medium) {
  //   width: calc(100% - #{$base-line-height*4});
  // }
}

/**
 * Basic typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $mono-font-family;
  color: darken($text-color, 10%);
  line-height: $base-line-height;
}

@mixin small-label {
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: ms(-4);
  font-weight: 500;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Links
 */
a {
    color: $light-blue;
    text-decoration: none;
    border-bottom: 1px solid;
    transition: color .2s ease-in-out;

    &:visited {
        color: $light-blue;
    }

    &:hover {
        color: darken($light-blue,5);
    }
}

.btn {
  display: inline-block;
  position: relative;
  @include small-label;
  border: 0;
  font-weight: 700;
  text-align: center;
  letter-spacing: .1rem;
  color: white;
  background: linear-gradient(to top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%), $purple;
  padding: $base-line-height*0.05 $base-line-height*0.5 0 $base-line-height*0.5;
  border-radius: $base-line-height;
  line-height: $base-line-height*0.95;
  overflow: hidden;
  transition: background 0.25s ease-in-out;

  &:hover {
    color: white;
    background: linear-gradient(to top, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%), lighten($purple,20);
  }
}
