/**
 * Basic styling
 */
 * {
    text-rendering: optimizelegibility;
 }

html {
  font-size: $base-font-size;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  overflow-x: hidden;
  background-color: $blue-grey-darker;

  @include media($xxlarge) {
    font-size: 20px;
  }
}

body {
  font: $base-font-weight 1rem/#{$base-line-height} $base-font-family;
  color: $grey-text;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: $blue-grey-dark;
}

@mixin container {
  @include outer-container;
  width: calc(100% - #{$base-line-height*2});
  //
  @include media($medium) {
    width: calc(100% - #{$base-line-height*4});
  }

  @include media($xlarge) {
    width: calc(100% - #{$base-line-height*9});
  }
}

/**
 * Basic typography
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $mono-font-family;
  line-height: $base-line-height;
}

@mixin small-label {
  font-family: $base-font-family;
  text-transform: uppercase;
  letter-spacing: .4em;
  font-size: ms(-4);
  font-weight: 500;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Links
 */
a {
    color: $purple;
    text-decoration: none;
    border-bottom: 1px solid;
    padding-bottom: 0.15rem;
    transition: color .2s ease-in-out;

    &:visited {
        color: $purple;
    }

    &:hover, &:focus, &:active {
        color: darken($purple,15);
    }
}
