/**
 * Basic styling
 */
 * {
    text-rendering: optimizelegibility;
 }

html {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}
body {
    color: $text-color;
    background-color: $background-color;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $headings-font-family;
    color: darken($text-color, 10%);
    line-height: $base-line-height;
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}


/**
 * Links
 */
a {
    color: blue;
    text-decoration: none;

    &:visited {
        color: darken(blue, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}

/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}