/**
 * Front page
 */
.front {

  &__intro {
    padding: $base-line-height*2.5 0 $base-line-height*2.5;

    @include media($medium) {
      padding: $base-line-height*5 0 $base-line-height*7;
    }

    span {
      @include small-label;
      display: block;
      color: $white-transparent;
      margin-bottom: $base-line-height*0.5;
    }

    &:after {
      position: relative;
      z-index: 300;
      content:" ";
      display: block;
      width: 1px;
      height: $base-line-height*4;
      max-width: $base-line-height*12;
      margin: $base-line-height*2 auto -#{$base-line-height*5};
      vertical-align: middle;
      background: linear-gradient(to bottom, rgba(255,255,255,.7) 0%,rgba(255,255,255,0) 100%);

      @include media($small) {
        display: none;
      }
    }

    &__heading {
      //max-width: 20rem;
      font-family: $base-font-family;
      font-size: ms(2);
      font-weight: 300;
      line-height: $base-line-height*1.15;
      color: $white-transparent;

      @include media($small) {
        font-size: ms(3);
        line-height: $base-line-height*1.5;
        font-weight: 300;
      }

      @include media($medium) {
        max-width: 48rem;
        font-size: ms(6);
        font-weight: 200;
        line-height: $base-line-height*2;
      }

      em {
        position: relative;
        //font-weight: 300;
        color: white;
      }

      a {
        display: block;
        font-size: ms(0);
        line-height: $base-line-height*2;
        font-family: $mono-font-family;
        font-weight: 100;
        border: 0;

        @include media($medium) {
          font-size: ms(2);
        }
      }
    }
  }

  &__work {
    @include span-columns(12);
    @include omega();

    h2 {
      @include small-label;
      display: none;
      color: $white-transparent;
      margin-bottom: $base-line-height;

      @include media($large) {
        display: block;
      }
    }
  }
}

.project-list {
  li {
    padding-bottom: $base-line-height;
    @include span-columns(12);

    @include media($small) {
      @include span-columns(6);

      &:nth-child(even) {
        padding-left: $base-line-height*0.5;
      }

      &:nth-child(odd) {
        padding-right: $base-line-height*0.5;
      }
    }
  }
}

.project-card {
  display: block;
  border: none;

  &__img {
    position: relative;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
    background-size: cover;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.335s ease-in-out;
    }
  }

  &:hover &__img {
    img {
      transform: scale(1.1);
    }
  }

  &__info {
    padding: $base-line-height;
    background-color: rgba(255,255,255,.05);

    &__client {
      font-weight: 400;
      color: white;
    }

    &__desc {
      font-family: $mono-font-family;
      font-size: ms(-1);
      color: $white-transparent;
    }
  }
}
