/**
 * Site header
 */
.header {

}

/**
 * Site footer
 */
.footer {
  position: relative;
  clear: both;
  padding: $base-line-height*2;
  color: $white-transparent;

  &__legal {
    float: left;
  }
  .social-links{
    float: right;
    display: flex;
    li {
      display: block;
      margin-left: $base-line-height;

      a {
        @include small-label;
        border: none;
        color: white;
      }
    }
  }
}
