/**
 * Site header
 */
.header {

}

/**
 * Site footer
 */
.footer {
  @include outer-container;
  @include clearfix;
  padding: $base-line-height*2;
  border-top: $grid-line-style--dark;

  &__legal {
    float: left;
  }
  .social-links{
    float: right;
    display: flex;
    li {
      display: block;
      margin-left: $base-line-height;
    }
  }
}
