/**
 * Site header
 */
.header {

}

/**
 * Site footer
 */
.footer {
  position: relative;
  padding: $base-line-height*2 0;
  background-color: $blue-grey-darker;
  color: $white-transparent;
  @include clearfix;

  &__inner {
    @include container;
  }

  &__legal {
    margin: 0 auto;
    text-align: center;

    @include media($xlarge) {
      width: 50%;
      float: left;
      text-align: left;
    }
  }
  .social-links{
    margin: 0 auto;
    margin-top: $base-line-height/2;
    text-align: center;
    line-height: $base-line-height;

    @include media($xlarge) {
      width: 50%;
      float: left;
      text-align: right;
      margin-top: 0;
    }

    li {
      display: inline-block;
      margin: 0 $base-line-height/2;

      a {
        @include small-label;
        border: none;
        color: white;
      }
    }
  }
}
