/**
 * Navigation
 */
.navigation {
  display: flex;
  position: relative;
  padding: $base-line-height;
  justify-content: space-between;
  text-align: left;
  z-index: 900;
  text-align: center;


  &::before {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    @include backlight(6rem, -3rem, 6rem, 1.1, #0fffc1, #7e0fff, 10s);
    opacity: 0.75;
    z-index: 1;
    //background: linear-gradient(to right, rgba($blue-grey-darker, 0) 0%, rgba(255,255,255,.04) 100%);

    @include media($medium) {
      display: none;
      @include backlight(25%, -4rem, 8rem, 1.1, #0fffc1, #7e0fff, 10s);
      opacity: 0.5;
    }
  }

  &::after {
    content:"";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    opacity: .35;
    background-color: black;
    z-index: 100;
    //background: linear-gradient(to right, rgba($blue-grey-darker, 0) 0%, rgba(255,255,255,.04) 100%);
  }

  &__name {
    display: inline-block;
    position: relative;
    z-index: 100;
    color: white;
    border: none;
    transition: opacity ease-in-out .35s;
    font-size: rem(13px);
    font-weight: 400;

    &:visited, &:focus {
      color: white;
    }
  }

  &__list {
    position: relative;
    z-index: 100;
    li {
      display: inline-block;
    }

    a {
      font-family: $mono-font-family;
      font-size: rem(12px);
      display: inline-block;
      margin-left: $base-line-height*0.5;
      color: white;
      opacity: .5;
      border: none;
      transition: opacity ease-in-out .35s;

      &:hover, &:focus, &:active {
        opacity: 1;
      }
    }
  }

  // &__line {
  //   display: none !important;
  //   width: 40vh;
  //   max-width: $base-line-height*12;
  //   margin-right: $base-line-height;
  //   height: 1px;
  //   vertical-align: middle;
  //   background: linear-gradient(to left, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 100%);
  //
  //   @include media($medium) {
  //     display: inline-block !important;
  //   }
  // }

  &__contact {
    @include media($medium) {
      display: none !important;
    }
  }
}
