.page {

  &__container {
    position: relative;
    @include clearfix;
    @include media($medium) {
      margin-left: $base-line-height*3.5;
    }
  }

  &__content {
    @include container;
    position: relative;
    //opacity: 0;
    //transform: translate3d(0,$base-line-height,0);
    //transition: opacity ease-out .7s, transform ease-out .7s;
    //transition-delay: 1.5s;

    .loaded & {
      //opacity: 1;
      //transform: translate3d(0,0,0);
    }
  }
}

.contact-bar {
  display: none;
  padding: $base-line-height*1.5 0;
  text-align: right;

  @include media($medium) {
    display: block;
  }

  a {
    display: inline-block;
    @include small-label;
    color: white;
    border: 0;
    opacity: .5;
    transition: opacity ease-in-out .35s;

    &:hover {
      opacity: 1;
    }

    &::before {
      content: "";
      display: inline-block;
      width: 50vw;
      max-width: $base-line-height*12;
      margin-right: $base-line-height;
      height: 1px;
      vertical-align: middle;
      background: linear-gradient(to left, rgba(255,255,255,.2) 0%,rgba(255,255,255,0) 100%);
    }
  }
}
