/**
 * Project page
 */
.project {
	background: white;

	//Back button
	&__back {
		position: absolute;
		top: $base-line-height*2;
		left: $base-line-height*2;
		z-index: 300;

		a {
			position: relative;
			display: block;
			text-indent: -9999rem;
			width: 2rem;
			height: 2rem;
			overflow: hidden;
			z-index: 300;
      @include small-label;
      color: white;
      border: 0;
			transform: rotate(45deg);
			//border-radius: 1rem;
			border: 1px solid;
			border-image: linear-gradient(to right, rgba($blue-grey-dark, 0) 0%, white 100%);
			transition: transform ease-in-out .3s;

			&::before {
				content:" ";
				display: block;
				position: absolute;
				top: 50%;
				left: 20%;
				height: 1px;
				width: 60%;
				background: white;
				// background: linear-gradient(to right, rgba($blue-grey-dark, 0) 0%, white 100%);
				// transition: transform ease-out 1.3s;
				// transform: rotate(45deg);
				// transform-origin: top left;
			}

			&::after {
				content:" ";
				display: block;
				position: absolute;
				top: 20%;
				left: 50%;
				height: 60%;
				width: 1px;
				background: white;
				// background: linear-gradient(to right, rgba($blue-grey-dark, 0) 0%, white 100%);
				// transition: transform ease-out 1.3s;
				// transform: rotate(-45deg);
				// transform-origin: bottom left;
			}

      &:hover {
        transform: rotate(135deg);
      }
		}
	}

	// Hero
	&__hero {
		position: relative;
		display: flex;
		align-items: center;
		max-width: 100%;
		padding-top: $base-line-height*2;
		padding-bottom: $base-line-height;
		background-color: $blue-grey-darker;
		@include clearfix;

		@include media($medium) {
			min-height: 75vh;
			padding-bottom: $base-line-height*2;
		}

		&::after {
			display: inline-block;
			position: absolute;
			left: 50%;
			bottom: 0;
			transform: translateY(40%);
			z-index: 100;
			content:" ";
			width: 1px;
			height: $base-line-height*4;
			background: linear-gradient(to bottom, transparent 0%, rgba(255,255,255,1) 100%);

			@include media($medium) {
				height: $base-line-height*6;
			}
		}

		//Hero info container
		&__info {
			@include outer-container;
			padding: $base-line-height*2 $base-line-height*1.5 $base-line-height*2;

			@include media($large) {
				padding: $base-line-height*5 $base-line-height*2 $base-line-height*3;
			}
		}
	}

	// Project intro
	&__intro {
		position: relative;
		@include span-columns(12);

		@include media($small) {
			@include span-columns(10);
			@include shift(1);
		}

		@include media($medium) {
			@include span-columns(8);
			@include shift(0);
		}

		@include media($large) {
			@include span-columns(7);
			@include shift(1);
		}

		&__client {
			@include small-label;
			color: $white-transparent;
			margin-bottom: $base-line-height*0.5;
		}

		&__heading {
			margin-bottom: $base-line-height*2;
			color: white;
			font-size: ms(5);
			line-height: $base-line-height*1.75;
			font-weight: 200;

			@include media($large) {
				font-size: ms(7);
				line-height: $base-line-height*2;
			}
		}

		&__desc {
			font-weight: 300;
			color: $white-transparent;
			margin-bottom: $base-line-height*2;

			@include media($medium) {
				@include shift (1);
			}

			@include media($large) {
				font-size: ms(1);
				line-height: $base-line-height*1.25;
			}
		}
	}


	// Project details
	&__details {
		@include span-columns(12);
		display: flex;
		flex-wrap: wrap;

		@include media($small) {
			@include span-columns(10);
			@include shift(1);
			display: flex;
			flex-wrap: wrap;
		}

		@include media($medium) {
			@include span-columns(3);
			@include shift(1);
		}

		@include media($large) {
			@include span-columns(2);
			@include shift(2);
			@include omega();
		}

		li {
			display: block;
			font-weight: 400;
			font-size: ms(-1);
			padding-bottom: $base-line-height;
			padding-right: $base-line-height;
			color: white;
			flex-grow: 1;
			flex-basis: 1;

			@include media($medium) {
				width: 100%;
				clear: both;
			}

			&:last-child {
					padding-bottom: 0;
			}

			span {
				display: block;
				@include small-label;
				color: $white-transparent;

				@include media($large) {
					//font-size: ms(-3);
				}
			}
		}
	}

	// Project hero img
	&__img {
		display: block;
		position: relative;
		margin: 0px auto;
		background: linear-gradient(to bottom, $blue-grey-darker 0%, $blue-grey-darker 50%, transparent 50%);

		@include media($large) {
			padding: 0 $base-line-height*4;
		}

		img {
			display: block;
			position: relative;
			margin: 0px auto;
			width: 100%;
			max-width: none;
		}

		&::after {
			position: absolute;
			left: 50%;
			bottom: 0;
			display: inline-block;
			content:"";
			width: 1px;
			height: $base-line-height*2;
			background: linear-gradient(to bottom, transparent 0%, rgba(255,255,255,1) 100%);

			@include media($large) {
				height: $base-line-height*6;
			}
		}
	}

	// Content area
	//-------------
	&__content {
		@include outer-container;
		@include clearfix;
		position: relative;
		padding: $base-line-height*3 $base-line-height*1.5;

		&::before {
			position: absolute;
			left: 50%;
			top: 0;
			display: inline-block;
			content:"";
			width: 1px;
			height: $base-line-height*2;
			background: $blue-grey-light;
			opacity: 1;
		}

		@include media($xlarge) {
			padding: $base-line-height*4 0;
		}

		h1, h2, h3, h4, h5, h6 {
		  font-weight: 600;
		}

		p, h1, h2 {
			@include span-columns(12);

			@include media($small) {
				@include span-columns(10);
				@include shift(1);
				@include omega();
				@include clearfix;
			}

			@include media($medium) {
				@include span-columns(7);
				@include shift(2);
				@include omega();
				@include clearfix;
			}

			@include media($large) {
				@include span-columns(6);
				@include shift(3);
				@include omega();
				@include clearfix;
			}

			@include media($xlarge) {
				@include span-columns(5);
				@include shift(3);
				@include omega();
				@include clearfix;
			}
		}

		h1 {
		  font-size: ms(4);
		  line-height: $base-line-height * 2.5;
		  border-bottom: 1px solid lighten($text-color, 65%);
		  padding-bottom: $base-line-height;
		}

		* + h1 {
		    margin-top: $base-line-height * 5;
		}

		h1 + * {
		    margin-top: $base-line-height * 1.75 !important;
		}

		h2 {
			font-size: ms(3);
		  line-height: $base-line-height * 1.25;
			position: relative;
			background-color: white;
			color: $blue-grey-dark;

			// &::after {
			// 	display: block;
			// 	content:" ";
			// 	width: $base-line-height*6;
			// 	height: 1px;
			// 	position: absolute;
			// 	left: -$base-line-height*7;
			// 	top: $base-line-height*0.5 + 0.1575rem;
			// 	background: linear-gradient(to left, rgba($blue-grey-light,1) 0%,rgba($blue-grey-light,0) 100%);
			// }

			& + p {
				margin-top: $base-line-height;
			}
		}

		* + h2 {
		  margin-top: $base-line-height * 3;
		}

		h3 {
		  font-size: ms(-1);
		  text-transform: uppercase;
		  letter-spacing: .1rem;
		  line-height: $base-line-height;

		  &::before {
		    display: inline-block;
		    content:"";
		    height: 1px;
		    width: 2rem;
		    margin-right: 1rem;
		    background-color: blue;
		    vertical-align: middle;
		  }
		}

		* + h3 {
		  margin-top: $base-line-height * 1.5;
		}

		* + h4, * + h5 {
		  margin-top: $base-line-height * 1;
		}

		* + p, * + ul, * + ol, * + li {
		  margin-top: $base-line-height / 2;
		}

		p {
			font-weight: 300;
			color: $grey-text;
			// font-size: ms(1);
			//
			// @include media($large) {
			// 	font-size: ms(0);
			// }
		}

		//Images
		&__image {
			@include span-columns(6);
			@include shift(3);
			@include clearfix;

			* + & {
				margin-top: $base-line-height * 3;
			}

			img {
				width: 100%;
			}

			figcaption {
				font-family: $mono-font-family;
				font-size: ms(-3);
				color: $grey-text;
			  line-height: $base-line-height*0.85;
				text-align: center;
				margin-top: $base-line-height * 1;
			}

			& + p {
				margin-top: $base-line-height * 1.5;
			}

			&--wide {
				@include span-columns(8);
				@include shift(2);
			}

			&--grid {
				@include span-columns(12);
				@include shift(0);
			}

			&--full {
				float: none;
				width: 100vw;
				position: relative;
				left: 50%;
				right: 50%;
				margin-left: -50vw;
				margin-right: -50vw;

				img {
					margin-top: $base-line-height * 1.5;
				}

				figcaption {
					padding: $base-line-height $base-line-height*1.5;
				}
			}

			&--small {
				img {
					@include span-columns(8);
					@include shift(1);
				}

				figcaption {
					@include span-columns(2);
					@include omega();
					padding-left: $base-line-height;
					font-size: .85rem;
					font-style: italic;
					color: $grey-text;
					line-height: $base-line-height*0.85;
					text-align: left;
				}
			}
		}

		//Lists
		ul,ol {
		  list-style-position: inside;
		  margin-left: $base-line-height;
		}
	}
}
