/**
 * Project page
 */
.project {
	background: white;

	//Back button
	&__back {
		position: absolute;
		top: $base-line-height*1.5;
		left: $base-line-height;
		z-index: 300;

		@include media($medium) {
			top: $base-line-height*2.5;
			left: $base-line-height*2.5;
		}

		a {
			position: relative;
			display: block;
			text-indent: -9999rem;
			width: 2.5rem;
			height: 2.5rem;
			overflow: hidden;
			z-index: 300;
      @include small-label;
      color: white;
      border: 0;
			transform: rotate(45deg);
			transition: transform ease-in-out .3s;

			&::before {
				content:" ";
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				height: 1px;
				width: 100%;
				background: white;
			}

			&::after {
				content:" ";
				display: block;
				position: absolute;
				top: 0;
				left: 50%;
				height: 100%;
				width: 1px;
				background: white;
			}

      &:hover {
        transform: rotate(135deg);
      }
		}
	}

	// Hero
	&__hero {
		position: relative;
		display: flex;
		align-items: center;
		max-width: 100%;
		background-color: $blue-grey-darker;
		@include clearfix;

		@include media($medium) {
			min-height: calc(100vh - #{$base-line-height*3});
		}

		//Hero inner container
		&__inner {
			@include container;
			padding: $base-line-height*4 0 $base-line-height*3;

			@include media($medium) {
				padding: $base-line-height*6 0 $base-line-height*5;
			}

			@include media($large) {
				padding: $base-line-height*7 0 $base-line-height*3.5;
			}
		}

		&__client {
			@include span-columns(12);
			@include small-label;
			color: $white-transparent;
			margin-bottom: $base-line-height*0.5;

			@include media($medium) {
				@include span-columns(10);
				@include shift(1);
			}

			@include media($large) {
				@include span-columns(10);
				@include shift(1);
			}
		}

		&__heading {
			@include span-columns(12);
			margin-bottom: $base-line-height;
			font-family: $base-font-family;
			color: white;
			font-size: ms(5);
			line-height: $base-line-height*1.5;
			font-weight: 200;

			@include media($medium) {
				@include span-columns(10);
				@include shift(1);
			}

			@include media($large) {
				@include span-columns(10);
				@include shift(1);
				font-size: ms(8);
				line-height: $base-line-height*2;
			}
		}

		&__desc {
			@include span-columns(12);
			font-size: ms(-2);
      font-family: $mono-font-family;
			font-weight: 300;
			color: $white-transparent;
			margin-bottom: $base-line-height*1.5;

			@include media($small) {
				@include span-columns(6);
			}

			@include media($medium) {
				@include span-columns(6);
				@include shift(1);
				margin-bottom: $base-line-height*2;
			}

			@include media($large) {
				@include span-columns(5);
				@include shift(1);
				margin-bottom: $base-line-height;
				font-size: ms(-2);
			}
		}

		&__details {
			@include span-columns(12);
			display: flex;
			flex-wrap: wrap;

			@include media($small) {
				@include span-columns(5);
				@include shift(1);
			}

			@include media($medium) {
				@include span-columns(10);
				@include shift(1);
				display: flex;
				flex-wrap: wrap;
			}

			@include media($large) {
				@include span-columns(5);
				@include shift(7);
				@include omega();
			}

			li {
				display: block;
				font-weight: 400;
				font-size: ms(-2);
				padding-bottom: $base-line-height*0.5;
				padding-right: $base-line-height;
				color: white;
				font-family: $mono-font-family;
				flex-grow: 1;
				flex-basis: 1;

				span {
					display: block;
					@include small-label;
					font-family: $base-font-family;
					color: $white-transparent;

					@include media($large) {
						display: inline-block;
						width: 7rem;
					}
				}
			}
		}
	}

	// Project main img
	&__img {
		display: block;
		position: relative;
		margin: 0px auto;
		background: linear-gradient(to bottom, $blue-grey-darker 0%, $blue-grey-darker 50%, transparent 50%);

		@include media($large) {
			@include container;
		}

		img {
			display: block;
			position: relative;
			margin: 0px auto;
			width: 100%;
			max-width: none;
			z-index: 100;
			overflow-x: hidden;
		}

		&::before {
			display: inline-block;
			position: absolute;
			left: 50%;
			top: 0;
			transform: translateY(-55%);
			z-index: 100;
			content:" ";
			width: 1px;
			height: $base-line-height*4;
			background: linear-gradient(to bottom, transparent 0%, white 100%);
			z-index: 200;

			@include media($medium) {
				height: $base-line-height*6;
			}
		}

		&::after {
			content:"";
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			bottom: 50%;
			width: 200vw;
			background: $blue-grey-darker;
		}
	}

	// Content area
	//-------------
	&__content {
		@include container;
		position: relative;
		padding: $base-line-height*2 0;

		@include media($xlarge) {
			padding: $base-line-height*4 0;
		}

		a {
			font-family: $mono-font-family;
			font-size: rem(15px);
			font-weight: 600;
			margin: 0 0.15rem;
			padding-bottom: 0.15rem;
			//letter-spacing: -1px;
		}

		h1, h2, h3, h4, h5, h6 {
		  font-weight: 600;
			color: $grey-dark;
		}

		p, h1, h2, h3, ul, blockquote, &__image, figcaption {
			max-width: rem(580px);
			margin: 0px auto;
			// @include span-columns(12);
			//
			// @include media($small) {
			// 	@include span-columns(10);
			// 	@include shift(1);
			// 	@include omega();
			// 	@include clearfix;
			// }
			//
			// @include media($medium) {
			// 	@include span-columns(7);
			// 	@include shift(2);
			// 	@include omega();
			// 	@include clearfix;
			// }
			//
			// @include media($large) {
			// 	@include span-columns(6);
			// 	@include shift(3);
			// 	@include omega();
			// 	@include clearfix;
			// }
			//
			// @include media($xlarge) {
			// 	@include span-columns(5);
			// 	@include shift(3);
			// 	@include omega();
			// 	@include clearfix;
			// }
		}

		h1 {
		  font-size: ms(4);
		  line-height: $base-line-height * 2.5;
		  border-bottom: 1px solid lighten($text-color, 65%);
		  padding-bottom: $base-line-height;
		}

		* + h1 {
		    margin-top: $base-line-height * 5;
		}

		h1 + * {
		    margin-top: $base-line-height * 1.75 !important;
		}

		h2 {
			font-size: ms(2);
		  line-height: $base-line-height;
			position: relative;

			@include media($medium) {
				font-size: ms(4);
			  line-height: $base-line-height * 1.25;
			}
		}

		* + h2 {
		  margin-top: $base-line-height * 2;

			@include media($medium) {
				margin-top: $base-line-height * 4;
			}
		}

		h3 {
			font-weight: 700;
		}

		* + h3 {
			margin-top: $base-line-height*1.5;

			& + p {
				margin-top: $base-line-height * 0.25;
			}
		}

		* + p {
		  margin-top: $base-line-height * 0.75;
		}

		p {
			font-weight: 300;
			color: $grey-text;
		}

		em {
			font-style: italic;
		}

		strong {
			font-weight: 600;
			color: $grey-dark;
		}

		//Images
		* + &__image {
			margin-top: $base-line-height * 2;

			&--grid {
				margin-top: $base-line-height * 4;
			}
		}

		&__image {
			margin-left: auto;
			margin-right: auto;
			img {
				width: 100%;
			}

			& + p, 	& + h3 {
				margin-top: $base-line-height * 2;
			}

			&--wide {
				@include span-columns(8);
				@include shift(2);
			}

			&--grid {
				max-width: none;
				width: 100%;

				& + p, 	& + h3 {
					margin-top: $base-line-height * 4;
				}
			}

			&--full {
				float: none;
				width: 100vw;
				max-width: none;
				position: relative;
				left: 50%;
				right: 50%;
				margin-left: -50vw;
				margin-right: -50vw;

				img {
					margin-top: $base-line-height * 1.5;
				}

				figcaption {
					padding: 0 $base-line-height*1.5;
				}
			}
		}

		figcaption {
			margin-top: $base-line-height*0.75;
			margin-left: auto;
			margin-right: auto;
			font-family: $mono-font-family;
			font-size: ms(-3);
			color: $grey-text;
			line-height: $base-line-height*0.75;
			text-align: center;
		}

		//Videos
		* + &__video {
			margin-top: $base-line-height * 2;
		}

		&__video {
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;
		}

		//Lists
		* + ul, * + ol {
		  margin-top: $base-line-height;
		}

		* + li {
		  margin-top: $base-line-height / 2;
		}

		ul, ol {
			padding-left: $base-line-height;

			@include media($small) {
				padding: 0 $base-line-height*2;
			}
		}

		ul {
			li {
				font-weight: 300;
				color: $grey-text;

				&::before {
					display: inline-block;
					content: "\2192 \0020";
					width: $base-line-height;
					margin-left: -$base-line-height;
					font-size: ms(-1);
					color: $purple;
				}
			}

			& + p {
				margin-top: $base-line-height;
			}
		}

		blockquote {
			padding: $base-line-height*1.5 0;
			border-top: 1px solid $grey-lighter;
			border-bottom: 1px solid $grey-lighter;

			@include media($medium) {
				padding: $base-line-height*1.5 $base-line-height;
			}

			p {
				font-family: $mono-font-family;
				font-size: ms(-1);
				color: $blue-grey-dark;
				margin-top: $base-line-height*0.25;
			}

			& + p, & + h3 {
				margin-top: $base-line-height*1.5;
			}
		}

		* + blockquote {
			margin-top: $base-line-height*1.5;
		}

	}
}
