/**
 * Grid component
 */

$grid-line-style--white: 1px solid rgba(white,.05);
$grid-line-style--dark: 1px solid rgba(black,.05);

.grid {
  $root: &;

  @include outer-container;
  pointer-events: none;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;

  &__line {
    @include span-columns(1);
    border-left: $grid-line-style--white;
    height: 100%;
    position: absolute;

    @for $i from 2 through 12 {
      &--#{$i} {
        @include shift($i - 1);
      }
    }

    &--13 {
      @include shift(11);
      border-left: none;
      border-right: $grid-line-style--white;
    }
  }

  &--dark {
    #{$root}__line {
      border-color: rgba(black,.05);
    }
  }
}
