@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Overpass+Mono:300,400,600,700|Overpass:100,200,300,400,600,700,800,900');
// @import url('https://fonts.googleapis.com/css?family=Overpass|Overpass+Mono');

// Our variables + functions
$base-font-family: 'Overpass' Helvetica, Arial, sans-serif;
$mono-font-family: 'Overpass Mono', 'Lucida Console', Monaco, monospace;
$base-font-size:   16px;

// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
}

// PX to EM - Usage: font-size: em(37px);
@function em($px, $base: $base-font-size) {
    @return ($px / $base) * 1em;
}

$base-font-weight: 400;
$base-line-height: rem(28px);
$blh: $base-line-height;

//Modular scale
$ms-ratio: 1.125;
@function ms($step, $base: $base-font-size, $ratio: $ms-ratio) {
  $result: $base;

  @if $step > 0 {
    @for $i from 1 through $step {
      $result: $result*$ratio;
    }
  } @else if $step < 0 {
    $j: 0;
    @while $j > $step {
      $result: $result/$ratio;
      $j: $j - 1;
    }
  }

  //Round result to nearest full pixel to avoid sub-pixel rendering, then convert to REM and return.
  @return rem(round($result));
}

$grey:       #191F22;
$grey-text:  lighten($grey, 30%);
$grey-light: lighten($grey, 40%);
$grey-lighter: lighten($grey-light, 40%);
$grey-dark:  darken($grey, 10%);

$white-transparent: rgba(255,255,255,.5);

$purple: #7e7ecc;
$light-blue: #8d9dce;

// $blue-grey-light: #2B3740;
// $blue-grey-mid: #29353E;
// $blue-grey-dark: #212D36; //#181922
// $blue-grey-darker: darken($blue-grey-dark,4);

$blue-grey-dark: #212D36;

$blue-grey-light: lighten($blue-grey-dark,70);
$blue-grey-mid: lighten($blue-grey-dark,40);
$blue-grey-darker: darken($blue-grey-dark,3);


$text-color:       #404448;
$background-color: white;
$brand-color:      #2a7ae2;

//Breakpoints
$xsmall: 480px;
$small: 600px;
$medium: 768px;
$large: 1024px;
$xlarge: 1224px;
$xxlarge: 1824px;

//Neat grid variables
$max-width: rem(1140px);
$gutter: 0em !global;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"neat",
	"vendor/reset",
	"base",
  "visual-grid",
  "sidebar",
	"layout",
  "page",
  "project",
	"front",
  "about"
;
