@charset "utf-8";
@import url("http://overpass-30e2.kxcdn.com/overpass.css");

// Our variables + functions
$base-font-family: 'Overpass' Helvetica, Arial, sans-serif;
$base-font-size:   16px;

// PX to REM - Usage: font-size: rem(37px);
@function rem($px, $base: $base-font-size) {
    @return ($px / $base) * 1rem;
}

$base-font-weight: 400;
$base-line-height: rem(28px);
$blh: $base-line-height;
$headings-font-family: 'Overpass', Helvetica, Arial, sans-serif;

//Modular scale
$ms-ratio: 1.333;
@function ms($step, $base: $base-font-size, $ratio: $ms-ratio) {
  $result: $base;

  @if $step > 0 {
    @for $i from 1 through $step {
      $result: $result*$ratio;
    }
  } @else if $step < 0 {
    $j: 0;
    @while $j > $step {
      $result: $result/$ratio;
      $j: $j - 1;
    }
  }

  @return rem($result);
}

$text-color:       #404448;
$background-color: white;
$brand-color:      #2a7ae2;

$grey:       #191F22;
$grey-light: lighten($grey, 40%);
$grey-dark:  darken($grey, 10%);

//Breakpoints
$xsmall: 480px;
$small: 600px;
$medium: 768px;
$large: 1024px;
$xlarge: 1224px;
$xxlarge: 1824px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"neat",
	"vendor/reset",
	"base",
	"layout",
	"front",
	"project"
;
