---
layout: default
bodyclass: 'project'
---
<div class="project__back">
	<a href="/">Back</a>
</div>

<div class="project__hero">

	<!-- {% include visual-grid.html lines="2,6,12" %} -->

	<div class="project__hero__inner">

		<p class="project__hero__client">{{ page.client }}</p>
		<h1 class="project__hero__heading">{{ page.heading }}</h1>
		<p class="project__hero__desc">{{ page.desc-long }}</p>

		<ul class="project__hero__details">
			{% if page.role %}<li class="project__hero__details__role"><span>Role</span>{{ page.role }}</li>{% endif %}
			{% if page.year %}<li class="project__hero__details__year"><span>Year</span>{{ page.year }}</li>{% endif %}
			{% if page.employer %}<li class="project__hero__details__employer"><span>Employer</span>{{ page.employer }}</li>{% endif %}
			{% if page.link %}<li class="project__hero__details__link"><span>View</span>{{ page.link }}</li>{% endif %}
		</ul>

	</div>

</div>

<div class="project__img">
	<img src="{{ page.hero | prepend: site.baseurl }}" />
</div>

<div class="project__content">
	{{ content }}
</div>

{% comment %}Capture the collection for use in Prev / Next buttons {% endcomment %}
{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = (site[the_collection] | sort: 'order') %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevproject = prev %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign nextproject = document[forloop.index] %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}

<div class="project__end-nav">
	{% if prevproject %}
		<a href="{{ prevproject.url }}" class="project__end-nav__prev">
			<span>Previous</span>
			<h3>{{ prevproject.title }}</h3>
			<p>{{ prevproject.desc-short }}</p>
		</a>
	{% endif %}
	{% if nextproject %}
		<a href="{{ nextproject.url }}" class="project__end-nav__next">
			<span>Up Next</span>
			<h3>{{ nextproject.title }}</h3>
			<p>{{ nextproject.desc-short }}</p>
		</a>
	{% endif %}
</div>

{% include footer.html %}
