---
layout: default
bodyclass: 'project'
---
<div class="project__back">
	<a href="/">Back</a>
</div>

<div class="project__hero">

	<!-- {% include visual-grid.html lines="2,6,12" %} -->

	<div class="project__hero__inner">

		<p class="project__hero__client">{{ page.client }}</p>
		<h1 class="project__hero__heading">{{ page.heading }}</h1>
		<p class="project__hero__desc">{{ page.desc-long }}</p>

		<ul class="project__hero__details">
			{% if page.role %}<li class="project__hero__details__role"><span>Role</span>{{ page.role }}</li>{% endif %}
			{% if page.year %}<li class="project__hero__details__year"><span>Year</span>{{ page.year }}</li>{% endif %}
			{% if page.employer %}<li class="project__hero__details__employer"><span>Employer</span>{{ page.employer }}</li>{% endif %}
			{% if page.link %}<li class="project__hero__details__link"><span>View</span>{{ page.link }}</li>{% endif %}
		</ul>

	</div>

</div>

<div class="project__img">
	<img src="{{ page.hero | prepend: site.baseurl }}" />
</div>

<div class="project__content">
	{{ content }}
</div>
