---
layout: default
bodyclass: 'project'
---
<div class="project__back">
	<a href="/">Back</a>
</div>

<div class="project__hero">

	<div class="project__hero__inner">

		<p class="project__hero__client">{{ page.client }}</p>
		<h1 class="project__hero__heading">{{ page.heading }}</h1>
		<p class="project__hero__desc">{{ page.desc-long }}</p>

		<ul class="project__hero__details">
			{% if page.role %}<li class="project__hero__details__role"><span>Role</span>{{ page.role }}</li>{% endif %}
			{% if page.year %}<li class="project__hero__details__year"><span>Year</span>{{ page.year }}</li>{% endif %}
			{% if page.employer %}<li class="project__hero__details__employer"><span>Employer</span>{{ page.employer }}</li>{% endif %}
			{% if page.link %}<li class="project__hero__details__link"><span>View</span>{% if page.link-url %}<a href="{{ page.link-url }}" rel="noreferrer">{{ page.link }}</a>{% else %}{{ page.link }}{% endif %}</li>{% endif %}
		</ul>

	</div>

</div>

<div class="project__img">
	<img src="{{ page.hero | prepend: site.baseurl }}" />
</div>

<div class="project__content">
	{{ content }}
</div>

{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = (site[the_collection] | sort: 'order') %}
  {% endif %}
{% for links in document  %}
  {% if links.title == page.title %}
    {% if forloop.last %}
      {% assign nextproject = document[0] %}
    {% else %}
      {% assign nextproject = document[forloop.index] %}
		{% endif %}
  {% endif %}
{% endfor %}

<div class="project__up-next">
	<div class="project__up-next__inner">
		<span>Up Next</span>
		<a href="{{ nextproject.url }}">
			<img class="project__up-next__img" src="{{ nextproject.thumb }}" alt="Image thumbnail for {{ nextproject.client }} project." />
			<div class="project__up-next__info">
				<h3>{{ nextproject.title }}</h3>
				<p>{{ nextproject.desc-short }}</p>
			</div>
		</a>
	</div>
</div>

{% include footer.html %}
